.aa {
    width:400px;
    height: 250px;
    background-color: silver;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.aa input[type='submit'] {
    width: 100px;
    height: 50px;
    background-color: lightcoral;
    border-radius: 3px;
    border: 0;
    font-weight: bolder;
}

.records {
    width: 500px;
    height: auto;
}

.records img{
    width: 110px;
    height: 150px;
    border-radius: 20px;
    margin-left: 20px;
}

